

body
{
	min-height: 100vh;
	background: #120929;
}

h2 {
  font-family: 'Brush Script MT', cursive;
  color: #ffffff;
  font-size: 74px;
}

section
{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

}

section img 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


section img#morestars
{
	width: 100%;
	height: 100%;
}


section img#darkmoon
{
	mix-blend-mode: screen;
}

text
{
	position: absolute;
	color: #fff;
	white-space: nowrap;
	font-family: 'Brush Script MT', cursive;
	font-size: 40.5vw;
	font-size: 20.5em;
	z-index: 9;
}


img{
 max-width: 100%;
 height: 70%;
}

.player
{
	position:  relative;
	width: 350px;
	
}


.player audio
{
	position: relative;
	left:550px;
  top:60px;
	width: 100%;
	outline: none;
}

/*.button{
	color: #190C41;
	position: relative;
	display:  flex;
  left:650px;
  top:50px;
	cursor: pointer;
	border: 2px white;
	border-radius: 3px;
	font-size: 150%;
}

.button:hover{
	background-color:white;
	border: 2px white;
	color: #190C41;
}*/

/* The switch - the box around the slider *//*
.switch {
  position: relative;
  left:650px;
  top:60px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}*/

/* The slider */
/*.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}*/

/* Rounded sliders */
/*.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/

